

<!--Nav-->
<nav class="bg-gray-900 p-4 mt-0 w-full">
    <div class="container mx-auto flex items-center">
        <div class="flex text-white font-extrabold">
            <a class="flex text-white text-base no-underline hover:text-white hover:no-underline" href="/">
                Pınar's Blog
            </a>
        </div>
        <div class="flex pl-4 text-sm">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
            </ul>
        </div>
    </div>
</nav>



<!--Title-->
<div class="text-center pt-16 md:pt-32">
    <h1 class="font-bold break-normal text-3xl md:text-5xl">@Model.Title</h1>
</div>

<!--image-->
<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="height: 20vh;"></div>

<!--Container-->
<div class="container max-w-5xl mx-auto -mt-32">

    <div class="mx-0 sm:mx-6">

        <div class="bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

            <!--Post Content-->
            <!--Lead Para-->
            <p class="text-2xl md:text-3xl mb-5">
                @Model.Content
            </p>
            <div class="container">
                <div class="blog-comment mb-80">
                    <div class="widget-title mb-45">
                        <h5 class="title">Yorumlar</h5>
                    </div>
                    <ul>
                        <li>
                            @foreach (var item in Model)
                            {
                                @if (item.text != null)
                                {
                                    <div class="single-comment">
                                        <div class="comment-avatar-img">
                                            <img src="#" height="131" width="131" alt="img">
                                        </div>
                                        <div class="comment-text">
                                            <div class="comment-avatar-info">
                                                <h5>@item.Name <span class="comment-date"></span></h5>
                                                
                                            </div>
                                            <p>
                                                @item.Text
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                        </li>

                    </ul>
                </div>
                <div class="contact-form-wrap">
                    <div class="widget-title mb-50">
                        <h5 class="title">Yorum Yap</h5>
                    </div>
                    <div class="contact-form">
                        <form id="reviewForm" action="/Home/AddReview" method="post">
                            <input type="hidden" name="MovieId" @*value="@Model.Id"*@ />


                            <div class="form-group">
                                <label for="Name">Konu *</label>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Konu" required>
                            </div>
                            <div class="form-group">
                                <label for="Text">Mesajınız...</label>
                                <textarea id="Text" name="Text" class="form-control" placeholder="Mesajınız..." required></textarea>
                            </div>

                            <button class="btn1" type="submit">Gönder</button>
                        </form>

                    </div>
                </div>
            </div>
            <!--/ Post Content-->
        </div>
    </div>
</div>

